name: Terraform Pipeline

on:
  push:
    branches:
    - pipeline
    - test

env:
  TERRAFORM_VERSION: 1.8.5

jobs:

  on-aws:
    name: AWS provider
    runs-on: ubuntu-latest
 
    steps:

    - name: Step 01 - Terraform Setup
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: $TERRAFORM_VERSION

    - name: Step 02 - Terraform Version
      run : terraform --version

    - name: Step 03 - CheckOut GitHub Repo
      uses: actions/checkout@v4

    - name: Step 04 - Authenticate with AWS
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id    : ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region           : us-east-1

    - name: Step 05 - Terraform Init
      run : terraform -chdir=./terraform init

    - name: Step 06 - Terraform Validate
      run : terraform -chdir=./terraform validate

    - name: Step 07 - Set up Python 3.8
      uses: actions/setup-python@v5
      with:
        python-version: 3.8
  
    - name: Step 08 - Test with Checkov
      id: checkov
      uses: bridgecrewio/checkov-action@master
      with:
        directory: ./terraform
        framework: terraform 

    - name: Step 09 - Terraform Plan
      run : terraform -chdir=./terraform plan -out tfplan
      # run : terraform -chdir=./terraform plan -destroy -out tfplan

    - name: Step 10 - Terraform Apply
      run : terraform -chdir=./terraform apply tfplan

    - name: Step 11 - Terraform Show
      run : terraform -chdir=./terraform show
